<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>330821202488-0p6vph7dscvgibubjh0nj3giiqfsn9bk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.330821202488-0p6vph7dscvgibubjh0nj3giiqfsn9bk</string>
	<key>API_KEY</key>
	<string>AIzaSyBnqn1zNPmEnvxmOUbk7o5-yUZjfsy26Ps</string>
	<key>GCM_SENDER_ID</key>
	<string>330821202488</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.htoo</string>
	<key>PROJECT_ID</key>
	<string>htoo-da7ff</string>
	<key>STORAGE_BUCKET</key>
	<string>htoo-da7ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:330821202488:ios:80ab1b860ea2eb0bbd6ccd</string>
	<key>DATABASE_URL</key>
	<string>https://htoo-da7ff.firebaseio.com</string>
</dict>
</plist>